<template name="cart">
  {{#if currentUser}}
  <h4>Cart</h4>
  <ul class="list-unstyled col-lg-8">
    {{#each cartitems}}
    <li>
      <span class="item">
      <span class="item-left">
        <img src="{{image}}" alt="Image" />
        <span class="item-info">
          <span>
            <label class="badge">{{cartproduct.qty}}</label>
          </span>
      <span>{{truncate name 6}}</span>
      <br/>
      <span>{{{cartproduct.description}}}</span>
      </span>
      </span>
      <span class="item-right">
        <h4>
          {{currency cartproduct.price}}
          <button class="btn btn-xs btn-danger pull-right delFromCart">x</button>
        </h4>
      </span>
      </span>
    </li>
    {{/each}}
  </ul>
  {{else}}
    <span>Please log in</span>
  {{/if}}
  <div class="col-md-12">
    <span>
      <button class="btn btn-md checkOutButton" data-toggle="modal" data-target="#checkOutModal">Check Out</button>
    </span>
  </div>
</template>
