<template name="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">QEarth</a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav">
          <li><a href="/profile">Profile</a></li>
        </ul>
        <div class="navbar-right plain">
          {{#if currentUser}}
            <a href="/signout" class="btn btn-default navbar-btn" type="button">Sign Out
              <img src="{{currentUser.profile.avatar}}" alt="Avatar" width="20" class="img-circle avatar-upload" />
              {{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</a>
          {{else}}
            <a href="/signin" class="btn btn-default navbar-btn" type="button">Sign In</a>
            <a href="/register" class="btn btn-primary navbar-btn" type="button">Register</a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>
</template>
